<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="description" content="Angular-gantt : Gantt chart using Angularjs"/>

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->

    <title>Angular-gantt</title>
    <script src="javascripts/helper.js"></script>
    <script src="javascripts/lib/moment.js"></script>
    <script src="javascripts/lib/underscore.js"></script>
    <script src="javascripts/lib/angular.js"></script>
</head>

<body ng-app="ganttDemo">

<!-- HEADER -->
<div id="header_wrap" class="outer">

    <!--<a id="forkme_banner" href="https://github.com/narensulegai/angular-gantt">View on GitHub</a>-->

    <h1 id="project_title">Angular-gantt</h1>

    <h2 id="project_tagline">Gantt chart using Angularjs</h2>

</div>

<!-- MAIN CONTENT -->
<div class="outer">

    <div ng-controller="SampleGnattChartCtrl">
        <div>
            <input type="text" ng-model="search" placeholder="Search name"/>
        </div>

        <div gantt-chart ng-begin="scaleBegin" ng-end="scaleEnd" ng-interval="interval"
             ng-label-title="Label" ng-action-title="Action" ng-format="formatTime(tic)"
             ng-scroll-left="scrollLeft" class="scroll-vertical">


            <div gantt-row ng-repeat="row in data | filter:search">
                <div gantt-label-container style="background: rgb(228, 228, 98)">
                    <div style="width: 200px">
                        {{ row.label }}
                    </div>
                </div>
                <div gantt-bar-container>
                    <div gantt-bar ng-repeat="bar in row.bars" ng-begin="bar.start" ng-end="bar.end">
                        <div gantt-dragable-bar
                             style="height: 20px;background: grey;border: 10px solid crimson;padding: 10px; margin: 10px 0">
                            {{ bar.label }}
                        </div>
                    </div>
                </div>
                <div gantt-action-container style="background: rgb(228, 228, 98)">
                    <div style="width: 200px">
                        {{ row.label }}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="javascripts/main.js"></script>
<script src="javascripts/directives/scale.js"></script>
<script src="javascripts/directives/gantt_chart.js"></script>
<script src="javascripts/directives/gantt_bar_container.js"></script>
<script src="javascripts/directives/gantt_bar.js"></script>
<script src="javascripts/directives/gantt_label_container.js"></script>
<script src="javascripts/directives/gantt_action_container.js"></script>
<script src="javascripts/directives/gantt_row.js"></script>
<script src="javascripts/directives/gantt_dragable_bar.js"></script>
<script src="javascripts/directives/gantt_resizable_bar.js"></script>
<script src="javascripts/directives/gantt_chart_marker.js"></script>
<script src="javascripts/controllers/sample_gnatt_chart.js"></script>

</body>
</html>
