<div class="gantt-container">
  <div class="gantt-left-container">
    <div class="gantt-label-title" ng-style="{top:scrollTop + 'px'}">
      {{ ngLabelTitle }}
    </div>
    <div class="gantt-labels"></div>
  </div>

  <div class="gantt-body-container">
    <div class="gantt-scale-container" ng-style="{top:scrollTop + 'px'}">
      <div ng-repeat="tic in tics" class="tic" ng-style="{width:ngInterval*unitLength + 'px'}">
        <div class="tic-label">{{tic.label}}</div>
      </div>
    </div>
    <div class="gantt-row-container" ng-transclude></div>
  </div>

  <div class="gantt-right-container">
    <div class="gantt-action-title" ng-style="{top:scrollTop + 'px'}">
      {{ ngActionTitle }}
    </div>
    <div class="gantt-actions"></div>
  </div>
</div>
